.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 528px;
  margin: 0 auto;
  padding: 60px 10px 0;
}

.repetitions_include {
  display: inline-block;

  font-family: v_SanDiego 2005 BB;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 40px 10px 0;
  }
}
