.repetitions {
  display: flex;
  flex-direction: column;
  max-width: 1130px;
  padding: 0px 10px 0px 10px;
  margin-top: 60px;
  align-items: center;
  margin: 0 auto;
}

.description_training_block {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;

  gap: 125px;
}

@media (max-width: 650px) {
  .description_training_block {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;

    gap: 50px;
  }
}

@media (max-width: 510px) {
  .description_training_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 58px;

    gap: 50px;
  }
}

@media (max-width: 460px) {
  .description_training_block {
    margin-top: 58px;
    padding: 0 7px;
    gap: 20px;
  }
}

.description {
  display: grid;
  width: 445px;
  height: 312px;

  font-family: v_DigitalStrip 2 BB;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  justify-items: start;
}

@media (max-width: 460px) {
  .description {
    display: grid;
    width: 340px;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
  }
}

.text {
  display: grid;
}

.button {
  align-self: end;
}

.items_right {
  justify-items: end;
}

.image {
}
