.App {
}

.resume {
  max-width: 475px;
  height: 86px;
  flex-shrink: 0;
  margin: 0 auto 50px;
  color: #1d0254;
  font-family: v_DigitalStrip 2 BB;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@media (max-width: 460px) {
  .resume {
    max-width: 400px;
    margin: 0 7px 50px;
  }
}
/* .resume {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .resume {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
} */
