.nav {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  background: #3b23a6;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  gap: 10px;
}

.logo {
  margin-left: 144px;
  flex-shrink: 0;
}

.logo img {
  width: 95px;
  height: 38px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 82px;
  margin-right: 144px;
}

@media (max-width: 900px) {
  .logo {
    margin-left: 30px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-right: 30px;
  }
}

@media (max-width: 500px) {
  .logo {
    margin-left: 18px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-right: 17px;
  }
}

.menu span:hover {
  cursor: pointer;
}

.sign_up {
  color: #2c0282;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 43px;
  flex-shrink: 0;

  border-radius: 15px;
  background: #ffeb3a;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sign_up:hover {
  background: #fff279;
}
.sign_up:active {
  background: #ffeb3a;
  box-shadow: none;
}

@media (max-width: 600px) {
  .sign_up {
    width: 180px;
    height: 43px;
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .sign_up {
    width: 145px;
    height: 43px;
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  .sign_up {
    display: none;
  }

  .menu span {
    display: none;
  }
}

@media (min-width: 460px) {
  .burger {
    display: none;
  }
}
